@font-face {
	font-family: 'IM FELL French Canon';
	src: url(../../assets/fonts/IM_FELL_French_Canon_Italic.woff2) format('woff2'),
	url(../../assets/fonts/IM_FELL_French_Canon_Italic.woff) format('woff');
	font-weight: normal;
	font-style: italic;
}